.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.title {
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.footerItem {
  margin-bottom: 3px;
  font-weight: 300;
  color: rgb(168, 165, 165);
}
